@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
  padding: 0;
  margin: 0;
}

#cabecera {
  border-bottom: 1px solid rgb(161, 161, 161);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: "Roboto Mono", monospace;
}
#caja-logo {
  width: calc(100% / 7);
}
#cabecera img {
  width: 100%;
  height: auto;
  margin-left: 0;
}
#buscador {
  width: 30em;
  height: 2em;
  border: 1px solid rgb(161, 161, 161);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 1vw;
}

#buscador input {
  border: 0.1px solid rgb(255, 255, 255);
  box-sizing: border-box;
  font-size: 0.7em;
  margin-left: 1em;
  height: 2em;
  width: 38em;
}
#buscador i {
  margin-right: 1em;
}
#cositos-derecha ul {
  width: calc(100% / 7 * 6);
  font-size: 0.8em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#cositos-derecha li {
  width: 120px;
  margin: 15px;
  align-items: center;
  color: black;
}

#categorias {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 3em;
  font-family: "Roboto Mono", monospace;
  font-size: 0.7em;
}

#contenedor {
  margin-left: 10%;
  margin-right: 10%;
  text-transform: uppercase;
}
#botones {
  align-content: space-around;
  padding: 3%;
  width: calc(100%6);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.boton {
  font-family: "Roboto Mono", monospace;
  font-size: 0.8em;
  width: 20%;
  height: 4em;
  border: 1px solid gray;
  box-sizing: border-box;
  border-radius: 5px;
  transition: all 1s;
  box-shadow: 2px 2px 4px gray;
  font-weight: 600;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.imagen-boton {
  color: orangered;
}
.boton:hover {
  opacity: 0.6;
  background-color: rgb(206, 206, 206);
  font-weight: 500;
}
ul {
  list-style: none;
}

#envios {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
  font-family: "Roboto Mono", monospace;
  font-size: 0.7em;
  text-transform: none;
}

#categorias-relevantes {
  padding: 2%;
  font-family: "Roboto Mono", monospace;
  align-items: center;
}
.relevantes {
  display: flex;
  flex-direction: row;
  padding: 2%;
  font-size: 0.8em;
  text-align: center;
  margin: 1%;
  color: darkgray;
}
.relevantes div {
  align-items: center;
  padding-top: 1%;
  padding-bottom: 1%;
}
.relevantes div:hover {
  opacity: 0.8;
  color: rgb(27, 27, 27);
  font-weight: bolder;
}

#recomendados {
  padding: 2%;
  font-family: "Roboto Mono", monospace;
}
.fila-articulos {
  display: flex;
  flex-direction: row;
  padding: 2%;
  align-items: center;
  font-size: 0.8em;
  text-align: center;
  justify-content: space-around;
}
.fila-articulos img {
  width: auto;
  height: 80%;
}
.fila-articulos div {
  padding: 1%;
}
.fila-articulos h4 {
  color: darkgray;
  font-size: 1em;
}
.fila-articulos div:hover {
  opacity: 0.8;
}
#intereses {
  padding: 3%;
  font-family: "Roboto Mono", monospace;
}

#Productos-recomendados-pequeños {
  padding: 3%;
  font-family: "Roboto Mono", monospace;
}
.articulos-pequeños {
  display: flex;
  flex-direction: row;
  padding: 2%;
  align-items: center;
  font-size: 10px;
  text-align: center;
  justify-content: space-around;
}
.articulos-pequeños div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: calc(100% / 3);
}

.articulos-pequeños h4,
h3 {
  font-weight: 400;
  font-size: 1.1em;
}

.articulos-pequeños img {
  width: 100%;
  height: auto;
}

.articulos-pequeños div:hover {
  opacity: 0.85;
}
.mensajito {
  font-size: 0.6em;
  color: gray;
  text-transform: none;
  text-align: center;
}

footer {
  padding: 4%;
  margin-top: 20px;
  color: rgb(68, 68, 68);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Roboto Mono", monospace;
}
.columna {
  width: calc(100% / 7);
  font-size: 0.7em;
  line-height: 3em;
  padding: 0;
  margin: 0;
}

.columna img {
  width: 100%;
  height: auto;
}

.columna i {
  margin-right: 1vw;
  line-height: 2em;
  font-size: 2em;
  color: orangered;
}

.columna ul {
  margin: 1em;
  padding: 0;
}
.columna-descarga {
  font-size: 0.7em;
  line-height: 3em;
  padding: 0;
  margin: 0;
}
.columna-descarga img {
  width: calc(100% / 2);
  height: auto;
  align-items: center;
  display: block;
  margin: auto;
}

.columna li:hover {
  opacity: 0.65;
}
